Repository ghostrider-05/patreon-api.ts, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, documentation, examples, test, webhooks, oauth, npm, github

chore: update vitests
  package-lock.json
  package.json
Labels: npm

chore: update vitests (#96)
  package-lock.json
  package.json
Labels: npm

feat(PatreonClient): add method for custom responses
  src/rest/v2/clients/base.ts
  src/rest/v2/clients/baseMethods.ts
Labels: none

update example
  examples/README.md
  examples/nodejs-cjs/index.d.ts
  examples/nodejs-cjs/index.js
  examples/nodejs-cjs/package-lock.json
  examples/nodejs-cjs/package.json
  examples/nodejs-cjs/tsconfig.json
Labels: examples

update documentation
  docs/guide/configuration.md
  docs/guide/features/oauth.md
  docs/guide/features/simplify.md
  docs/guide/installation.md
  docs/index.md
Labels: documentation

feat(PatreonClient): add method for custom response parser (#97)
  docs/guide/configuration.md
  docs/guide/features/oauth.md
  docs/guide/features/simplify.md
  docs/guide/installation.md
  docs/index.md
  examples/README.md
  examples/nodejs-cjs/index.d.ts
  examples/nodejs-cjs/index.js
  examples/nodejs-cjs/package-lock.json
  examples/nodejs-cjs/package.json
  examples/nodejs-cjs/tsconfig.json
  src/rest/v2/clients/base.ts
  src/rest/v2/clients/baseMethods.ts
Labels: documentation, examples

fix(build): add missing type-checking rules
  apps/discord-bot/src/patreon/member.ts
  apps/discord-bot/src/setup/secrets.ts
  apps/discord-bot/src/webhook/messages.ts
  eslint.config.mjs
  src/payloads/v2/index.ts
  src/payloads/v2/internals/request.ts
  src/payloads/v2/normalized/capitalize.ts
  src/payloads/v2/normalized/index.ts
  src/payloads/v2/normalized/payload.ts
  src/payloads/v2/webhook.ts
  src/rest/v2/clients/baseMethods.ts
  src/rest/v2/clients/creator.ts
  src/rest/v2/query.ts
  src/rest/v2/webhooks/client.ts
  src/rest/v2/webhooks/platforms/discord.ts
  src/rest/v2/webhooks/verify.ts
  src/schemas/v2/item.ts
  src/schemas/v2/relationships.ts
  src/schemas/v2/scripts/relationships.ts
  tsconfig.json
Labels: apps, webhooks

fix(examples): update embed converter
  examples/cloudflare-webhook/src/index.ts
Labels: examples

fix(rest): throw all errors from response
  src/rest/v2/oauth2/rest.ts
Labels: oauth

Update rest.ts
  src/rest/v2/oauth2/rest.ts
Labels: oauth

add event emitter option
  src/rest/v2/oauth2/index.ts
  src/rest/v2/oauth2/rest.ts
Labels: oauth

oauth: get required scopes for path or attributes
  src/rest/v2/oauth2/scopes.ts
Labels: oauth

PatreonOauthClient: add option to validate oauth scopes
  src/rest/v2/clients/base.ts
  src/rest/v2/clients/creator.ts
  src/rest/v2/clients/user.ts
  src/rest/v2/oauth2/client.ts
Labels: oauth

Update rest.ts
  src/rest/v2/oauth2/rest.ts
Labels: oauth

add tests for required scopes
  src/__tests__/v2/scopes.test.ts
  src/rest/v2/oauth2/scopes.ts
Labels: test, oauth

feat(rest): add request limit option (#99)
  src/__tests__/v2/scopes.test.ts
  src/rest/v2/clients/base.ts
  src/rest/v2/clients/creator.ts
  src/rest/v2/clients/user.ts
  src/rest/v2/oauth2/client.ts
  src/rest/v2/oauth2/index.ts
  src/rest/v2/oauth2/rest.ts
  src/rest/v2/oauth2/scopes.ts
Labels: test, oauth

create initial schema
  openapi.json
  package.json
  src/schemas/v2/api/body.ts
  src/schemas/v2/api/details.ts
  src/schemas/v2/api/paths.ts
  src/schemas/v2/scripts/api.ts
  src/schemas/v2/scripts/index.ts
Labels: npm

update components
  openapi.json
  src/rest/v2/oauth2/scopes.ts
  src/schemas/v2/api/body.ts
  src/schemas/v2/api/components.ts
  src/schemas/v2/api/details.ts
  src/schemas/v2/scripts/api.ts
  src/schemas/v2/scripts/shared.ts
Labels: oauth

.github/labeler.yml:

apps:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/*'
      - 'apps/**'
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/*'
      - 'docs/**'
examples:
  - changed-files:
    - any-glob-to-any-file:
      - 'examples/*'
      - 'examples/**'
test:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/__tests__/*'
      - 'src/__tests__/**'
      - 'vitest.config.mts'
webhooks:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/payloads/v2/webhooks.ts'
      - 'src/rest/v2/webhooks/*'
      - 'src/rest/v2/webhooks/**'
oauth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/rest/v2/oauth2/*'
      - 'src/rest/v2/oauth2/**'
npm:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
github:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/*'
      - '.github/**'
