Repository ghostrider-05/patreon-api.ts, pull requests merged in 2024-04, with the labels that each got.

#3 Fix Repository URL in package.json
  package.json
Labels: npm

#2 test: add initial tests and workflows
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  LICENSE
  README.md
  package-lock.json
  package.json
  src/__tests__/utils/fields.test.ts
  src/__tests__/utils/generics.test.ts
  src/__tests__/v2/payloads.test.ts
  src/__tests__/v2/routes.test.ts
  src/__tests__/v2/store.test.ts
  src/rest/v2/clients/base.ts
  src/rest/v2/oauth2/client.ts
  src/rest/v2/oauth2/store.ts
  src/utils/fields.ts
  src/utils/index.ts
  tsconfig.json
  vitest.config.ts
Labels: github

#9 ci: add release-please
  .github/workflows/release.yml
  .release-please-manifest.json
  release-please-config.json
Labels: github, npm

#11 feat!: update oauth clients and minimal node version
  README.md
  package-lock.json
  package.json
  src/__tests__/v2/store.test.ts
  src/rest/v2/clients/base.ts
  src/rest/v2/clients/baseMethods.ts
  src/rest/v2/clients/creator.ts
  src/rest/v2/clients/user.ts
  src/rest/v2/oauth2/client.ts
  src/rest/v2/oauth2/resource.ts
  src/rest/v2/oauth2/store.ts
  src/rest/v2/query.ts
  src/schemas/v2/resources/user.ts
  tsconfig.json
Labels: breaking change, oauth

#12 ci: update publish command
  .github/workflows/release.yml
  package.json
Labels: github

#13 feat!: remove oauth client dependency
  .markdownlint.json
  README.md
  examples/README.md
  package-lock.json
  package.json
  src/__tests__/v2/query.test.ts
  src/rest/v2/clients/base.ts
  src/rest/v2/clients/baseMethods.ts
  src/rest/v2/clients/creator.ts
  src/rest/v2/clients/user.ts
  src/rest/v2/oauth2/client.ts
  src/rest/v2/oauth2/index.ts
  src/rest/v2/oauth2/scopes.ts
  src/rest/v2/query.ts
Labels: dependencies, oauth

#16 chore: improve repository with community standards
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  examples/community.md
Labels: github

#15 docs: improve jsdocs and update eslint
  .eslintignore
  .eslintrc.json
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  eslint.config.mjs
  package-lock.json
  package.json
  release-please-config.json
  src/__tests__/v2/routes.test.ts
  src/__tests__/v2/store.test.ts
  src/payloads/v2/index.ts
  src/rest/v2/clients/base.ts
  src/rest/v2/clients/baseMethods.ts
  src/rest/v2/clients/creator.ts
  src/rest/v2/clients/user.ts
  src/rest/v2/oauth2/client.ts
  src/rest/v2/oauth2/routes.ts
  src/rest/v2/oauth2/store.ts
  src/rest/v2/query.ts
  src/schemas/v2/resources/campaign.ts
  src/schemas/v2/resources/media.ts
  src/schemas/v2/resources/post.ts
  src/schemas/v2/resources/tier.ts
  src/utils/index.ts
  src/utils/version.ts
Labels: documentation

#17 feat: add support for API webhooks
  README.md
  examples/README.md
  src/__tests__/v2/payloads.test.ts
  src/__tests__/v2/routes.test.ts
  src/__tests__/v2/schemas.test.ts
  src/__tests__/v2/webhook.test.ts
  src/payloads/v2/index.ts
  src/payloads/v2/webhook.ts
  src/rest/v2/client.ts
  src/rest/v2/clients/base.ts
  src/rest/v2/clients/index.ts
  src/rest/v2/index.ts
  src/rest/v2/oauth2/client.ts
  src/rest/v2/oauth2/routes.ts
  src/rest/v2/query.ts
  src/rest/v2/webhooks/client.ts
  src/rest/v2/webhooks/index.ts
  src/rest/v2/webhooks/platforms/discord.ts
  src/rest/v2/webhooks/platforms/index.ts
  src/rest/v2/webhooks/triggers.ts
  src/rest/v2/webhooks/verify.ts
  src/schemas/v2/index.ts
  src/schemas/v2/item.ts
  src/schemas/v2/relationships.ts
  src/schemas/v2/resources/oauth_client.ts
  src/schemas/v2/resources/webhook.ts
  vitest.config.mts
Labels: webhooks
