Repository ghostrider-05/patreon-api.ts, pull requests merged in 2025-05, with the labels that each got.

#170 Update dependabot.yml
  .github/dependabot.yml
Labels: github

#173 feat(webhooks)!: remove webhook to discord method
  src/__tests__/v2/webhooks/converter.test.ts
  src/rest/v2/webhooks/client.ts
  src/rest/v2/webhooks/index.ts
  src/rest/v2/webhooks/platforms/discord.ts
  src/rest/v2/webhooks/platforms/index.ts
Labels: breaking change, webhooks, test

#176 fix(rest): only warn/throw when scopes are missing
  src/rest/v2/oauth2/client.ts
Labels: oauth

#177 fix(oauth): space-separated `scope` param in authorize URL
  src/rest/v2/oauth2/client.ts
Labels: oauth

#181 fix(oauth): stop paginating on last page
  src/rest/v2/oauth2/client.ts
Labels: oauth
